@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;


  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $min-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
  }

  .row-data {
    display: flex;

  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */

  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;


    &.selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
      outline-offset: -1px;
    }
    &.preselected {
      background: aliceblue;
    }
  }

  .row-resize, .col-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $primary-color;
    opacity: 0;
    z-index: 1000;

    &:hover {
      opacity: 1 !important;
    }
  }

  .col-resize {
    top: 0;
    width: 7px;

    &:hover {
      opacity: 1;
      cursor: col-resize;
    }
  }

  .row-resize {

    left: 0;
    height: 7px;

    &:hover {
      opacity: 1;
      cursor: row-resize;
    }
  }
}